name: pylint

on: 
  push:
    branches:
      - main
      - dev
    paths:
      - 'src/**'
  pull_request:
    branches:
      - main
      - dev
    paths:
      - 'src/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
      - name: Analysing the code with pylint
        run: |
          pylint $(git ls-files '*.py') -j 0 --output=lint.txt --exit-zero
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: lint.txt
          path: lint.txt
      